---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
---

<Layout 
	title="Dime tu marca"
	description="Contrata a Dime tu marca">
	<main>
		<section class="flex justify-center bg-gradient-to-b from-primary-blue to-secondary-blue text-white w-[1440px]">
			<div class="flex items-center justify-center px-10 pt-10">
				<div class="flex flex-col gap-8 pl-20">
					<p class="text-[28px] w-[743px] font-light"> Conéctate al ecosistema digital y <span class="font-semibold">logra tus objetivos</span></p>
					<h1 class="text-[50px] w-[675px]"> <span class="text-primary-orange font-semibold">MÁS </span>público, <span class="text-primary-orange font-semibold">MÁS </span> tráfico, <span class="text-primary-orange font-semibold">MÁS </span> engagement</h1>
					<p class="text-[26px] w-[746px] font-light"> Para que tu pasión llegue a más personas y logres impulsar tu presencia digital, nosotros te acompañamos en el proceso. </p>
					<Button> Contáctanos </Button>
				</div>
				<div class="pt-20">
					<img src="/images/image-banner.png" alt="imagen de isaelia" class="h-[549px]">
				</div>
			</div>
			
		</section>
	</main>
</Layout>