---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Form from '../components/Form.astro';
import LogoColor from '../components/icons/logoColor.astro';
import InstagramIcon from '../components/icons/Instagram.astro';
import TikTokIcon from '../components/icons/TikTok.astro';
import LinkedInIcon from '../components/icons/LinkedIn.astro';
import SendMailIcon from '../components/icons/SendMail.astro';
import CocoLogo from '../components/icons/CocoLogo.astro';
import CardLanz from '../components/cards/CardLanzamiento.astro';
import CardCreat from '../components/cards/CardCratividad.astro';
import CardAlian from "../components/cards/CardAlianza.astro";
import CardCreci from "../components/cards/CardCrecimiento.astro";
import CartEstra from "../components/cards/CardEstrategia.astro";
import CardAsesor from "../components/cards/CardAsesoria.astro";
import CardEdicion from "../components/cards/CardEdicion.astro";
import CardEcom from "../components/cards/CardEcomerce.astro";
import CardInfo1 from"../components/cards/CardInfo1.astro";
import CardInfo2 from"../components/cards/CardInfo2.astro";
import CardInfo3 from"../components/cards/CardInfo3.astro";
import CardInfo4 from"../components/cards/CardInfo4.astro";
import CardInfo5 from"../components/cards/CardInfo5.astro";
import CardInfo6 from"../components/cards/CardInfo6.astro";
import CardInfo7 from"../components/cards/CardInfo7.astro";
import CardInfo8 from"../components/cards/CardInfo8.astro";
---
<Layout
	title="Dime tu marca"
	description="Contrata a Dime tu marca">
	<main>
		<section class="flex justify-center bg-gradient-to-b from-primary-blue to-secondary-blue text-white mb-12 w-[1440px]">
			<div class="flex items-center justify-center px-10 pt-10">
				<div class="flex flex-col gap-8 pl-10">
					<p class="text-[28px] w-[743px] font-light"> Conéctate al ecosistema digital y <span class="font-semibold">logra tus objetivos</span></p>
					<h1 class="text-[50px] w-[675px]"> <span class="text-primary-orange font-semibold">MÁS </span>público, <span class="text-primary-orange font-semibold">MÁS </span> tráfico, <span class="text-primary-orange font-semibold">MÁS </span> engagement</h1>
					<p class="text-[26px] w-[700px] font-light"> Para que tu pasión llegue a más personas y logres impulsar tu presencia digital, nosotros te acompañamos en el proceso. </p>
					<Button> Contáctanos </Button>
				</div>
				<div class="pt-20">
					<img src="/images/image-banner.png" alt="imagen de isaelia" class="w-[400px]">
				</div>
			</div>
		</section>
		<SectionContainer>
			<div class="flex justify-center items-center px-10">
				<div class="flex flex-col gap-y-8 w-[739px]">
					<p class="text-2xl"> Somos una consultora de Comunicaciones y Marketing dedicada a canalizar tu presencia digital. </p>
					<p class="text-2xl"> Te acompañamos en el proceso para que <span class="text-primary-orange font-semibold text-2xl"> cada paso sea seguro, </span><span class="text-primary-lightblue font-semibold text-2xl"> y logres alcanzar tus metas. </span></p>
				</div>
				<div class="w-[398px]">
					<img src="/images/ilust-naranja.png" alt="ilustracion de dos mujeres">
				</div>
			</div>
		</SectionContainer>
		<SectionContainer class="flex flex-col" >
			<div class="flex flex-col gap-y-8">
				<h2 class="text-5xl" id="servicios">Nuestros servicios</h2>
			
				<div>
					<div id="info1" class="info-container" style="display: none;">
						<CardInfo1  />
					</div>
					<div id="info2" class="info-container" style="display: none;">
						<CardInfo2/>
					</div>
					<div id="info3" class="info-container" style="display: none;">
						<CardInfo3/>
					</div>
					<div id="info4" class="info-container" style="display: none;">
						<CardInfo4/>
					</div>
					<div id="info5" class="info-container" style="display: none;">
						<CardInfo5/>
					</div>
					<div id="info6" class="info-container" style="display: none;">
						<CardInfo6/>
					</div>
					<div id="info7" class="info-container" style="display: none;">
						<CardInfo7/>
					</div>
					<div id="info8" class="info-container" style="display: none;">
						<CardInfo8/>
					</div>
				</div>
				
				<div class="grid grid-rows-3 grid-cols-3 gap-10 mt-5 ">
					<a data-target="info1" class="hover:opacity-70 hover:cursor-pointer hover:scale-105"><CardLanz class="col-start-1 row-start-1"/></a>
					<a data-target="info2" class="hover:opacity-70 hover:cursor-pointer hover:scale-105"><CardCreat class="col-start-2 row-start-1"/></a>
					<a data-target="info3" class="hover:opacity-70 hover:cursor-pointer hover:scale-105"><CardAlian  class="col-start-3 row-start-1"/></a>
					<a data-target="info4" class="hover:opacity-70 hover:cursor-pointer hover:scale-105"><CardCreci  class="col-start-1 row-start-2"/></a>
					<a data-target="info5" class="hover:opacity-70 hover:cursor-pointer hover:scale-105"><CartEstra  class="col-start-2 row-start-2"/></a>
					<a data-target="info6" class="hover:opacity-70 hover:cursor-pointer hover:scale-105"><CardAsesor  class="col-start-3 row-start-2"/></a>
					<a data-target="info7" class="hover:opacity-70 hover:cursor-pointer hover:scale-105"><CardEdicion class="col-start-1 row-start-3"/></a>
					<a data-target="info8" class="hover:opacity-70 hover:cursor-pointer hover:scale-105"><CardEcom  class="col-start-2 row-start-3"/></a>
				</div>
			</div>
					
				
		</SectionContainer>	
	
		<SectionContainer> 
			<div class="pl-10 mt-20">
				<LogoColor />
				<p class="text-primary-orange pt-5 text-right font-medium text-xl"> y dejemos huella juntos </p>
			</div>
			<div class="flex flex-col gap-8 pl-20">
				<h1 class="text-[50px] w-[685px] mt-20"> Tenemos una <span class="text-primary-orange font-semibold"> visión única </span> </h1>
				<p class="text-base font-light w-[703px]"> Reconocemos el sentido de aportar valor desde lo genuino. Queremos que, más allá de objetivos económicos y de vanidad, haya una pasión de por medio por el espíritu de la marca. Buscamos que sean cada vez más quienes se conecten al ecosistema digital, y recorran el camino con la seguridad que les da el conocimiento.</p>
				<p class="text-base w-[703px]"><span class="text-primary-lightblue font-semibold text-xl"> Mientras más almas se toquen,</span><span class="text-primary-orange font-semibold text-xl"> más huellas dejaremos. </span></p>
			</div>
		</SectionContainer>
		<section class="bg-primary-blue h-[456px] mt-20 w-[1440px]" id="contacto"> 
			<Form />
		</section>
		<section>
			<div class="flex justify-start items-center gap-x-32 pl-60 mt-12 mb-8 w-[1440px]">
				<p class="text-lg"> Encuéntranos en </p>
				<div class="flex justify-between gap-x-32">
					<a href="https://www.instagram.com/dimetumarca/" target="_blank" class="hover:scale-110 hover:opacity-80"><InstagramIcon /></a>
					<a href="https://www.tiktok.com/@dimetumarca"  target="_blank" class="hover:scale-110 hover:opacity-80"><TikTokIcon /></a>
					<a href="https://www.linkedin.com/company/dimetumarca/" target="_blank" class="hover:scale-110 hover:opacity-80"><LinkedInIcon /></a>
					<a href="mailto:irojas@dimetumarca.com" target="_blank" class="hover:scale-110 hover:opacity-80"><SendMailIcon /></a>
				</div>
			</div>	
		</section>
		<SectionContainer> 
			<div class="pt-20 w-2/5">
				<img src="/images/women-power.png" alt="ilustracion de mujeres">
			</div>
			<div class="flex flex-col gap-8 pl-10 mb-20" id="about">
				<h1 class="text-[50px]"> El inicio de <span class="text-primary-lightblue font-semibold"> Dime </span><span class="text-primary-orange font-semibold"> Tu Marca </span> </h1>
				<p class="text-base w-[700px] font-light"> Mi trayectoria en corporaciones multinacionales y mi formación en Comunicación Social y Marketing me llevaron a comprender el potencial del mundo digital en los negocios. </p>
				<p class="text-base w-[700px] font-light"> Esta inquietud dio origen a <span class="text-primary-orange font-semibold"> "Dime Tu Marca" </span> , un espacio de acompañamiento donde brindamos capacitación y estrategias de marketing para la transición al ámbito virtual, así como asesoría y consultoría para fortalecer la presencia online de las marcas. Nuestra misión es guiar a otros en este emocionante viaje digital, inspirados por la necesidad de comprender y aprovechar el mundo digital en el ámbito empresarial. </p>
				<p class="text-base w-[700px] font-light"> Con el surgimiento de las redes sociales y la evolución del mundo interconectado, las marcas exitosas en el mundo real se vieron desafiadas a adaptarse al entorno digital para mantener su relevancia. En <span class="text-primary-orange font-semibold"> "Dime Tu Marca" </span> , no solo nos enfocamos en comprender este cambio, sino que también trabajamos activamente para ayudar a las marcas a prosperar en este nuevo entorno.</p>
				<p class="text-base w-[700px] font-light"> Nuestros servicios de asesoría y consultoría están diseñados para fortalecer la presencia online y garantizar que las marcas dejen una <span class="text-primary-lightblue font-semibold"> huella significativa en el mundo digital. </span> </p>

			</div>
		</SectionContainer>
		<SectionContainer>
			<div class="bg-gradient-to-tr from-primary-blue to-secondary-blue h-auto w-[1440px] pb-10">
				<h1 class="text-[50px] text-white p-10 ml-20"> Clientes Felices </h1>
				<div class="flex justify-center gap-5">
					<img src="/images/coco-imagen.png" alt="imagen de la fundadora de CoCo" class="h-[500px]">
					<div>
						<CocoLogo />
						<div class="text-xl bg-white/40 rounded-[75px] w-[640px] p-10 mt-8">
							<p class="mb-5">“<span class="font-medium text-2xl">Dime Tu Marca</span> nos ayudó con su visión estratégica en marketing a ampliar nuestra mirada con las tendencias y referentes del mercado. Trabajó con nosotras en nuestro cliente ideal y la estrategia de contenidos.</p>
							<p class="mb-5">Nos gustó trabajar con Isaelia, por su profesionalismo y experiencia en el rubro.”</p>
							<p class="flex justify-end font-medium">- Rebeca Solózano</p>
						</div>
					</div>
				</div>
			</div>
		</SectionContainer>
		<div class="flex justify-center gap-20 items-center w-[1440px] p-10">
			<p class="text-xl">Puedes ver los resultados de  proyectos realizados en nuestro portfolio</p>
			<a href="https://dimetumarcacopy.my.canva.site/portafolio" target="_blank"class="uppercase bg-[#347AC6] text-white tracking-widest font-semibold px-12 py-2 rounded-[24px] text-md hover:opacity-70">ver portfolio</a>
		</div>
		<div class="flex flex-col justify-center items-center mt-12 w-[1440px]">
			<h1 class="text-2xl">Entérate de las últimas tendencias y recibe material exclusivo</h1>
			<p class="pt-5">Deja tu e-mail para suscribirte a nuestro <span class="text-primary-orange font-semibold">newsletter</span></p>
			<div class="flex justify-center items-center gap-5 mt-8 mb-20">
				<input type="text" class="border border-[#347AC6] w-[400px] h-10 rounded-[24px]">
				<a href="" class="bg-[#CEC0B6] tracking-widest hover:opacity-70 font-semibold text-white rounded-[24px] text-sm uppercase px-12 py-3">suscribirme</a>
			</div>
		</div>
	</main>
	<script src="../components/cards/script.js"></script>
</Layout>