<a 
        href="/#contacto" 
        class="flex justify-center items-center uppercase size-18 bg-primary-orange w-[264px] h-[59px] rounded-3xl font-semibold tracking-widest"
        > 
        <slot/> 
</a>