---
import TikTokFicon from "./icons/TiktokFooterIcon.astro";
import LinkedInFicon from "./icons/LinkedINFooter.astro";
import SendMailFicon from "./icons/SendMailFooterIcon.astro";
import LogoFooter from "./icons/LogoFooter.astro";
import InstagramFicon  from './icons/InstagramFooterIcon.astro';
---

<footer class="bg-primary-blue text-white flex w-[1440px]">
  <div class="mt-8 ml-32 mr-0">
    <LogoFooter />
  </div>
  <div class="ml-0">
    <div class="grid grid-rows-3 grid-cols-2">
      <div class="flex flex-initial col-span-3 col-start-1 col-end-3">
        <p class="text-lg text-left w-2/3 mt-6 ml-0">Dime Tu Marca</p>
      </div>

      
        <p class="flex items-center inline text-xs col-span-1 col-start-1 col-end-2 row-start-2 inline-block">
          <InstagramFicon class="ms-0.5" />
          <a
            href="https://www.instagram.com/dimetumarca/"
            target="_blank"
            class=" hover:opacity-80"
          >
            https://www.instagram.com/dimetumarca/</a
          >
        </p>
      
      
       
        <p class="flex items-center inline text-xs col-span-1 col-start-1 col-end-2 row-start-3 m-1 inline-block">
                <TikTokFicon class="ms-0.5" /><a
            href="https://www.tiktok.com/@dimetumarca"
            target="_blank"
            class=" hover:opacity-80"
            >https://www.tiktok.com/@dimetumarca</a
          >
        </p>
      
    
    
      
        <p class="flex items-center inline text-xs  col-span-1 col-start-2 col-end-3 row-start-2 inline-block"><LinkedInFicon class="ms-0.5" />
          <a href="https://linkedin.com/company/dimetumarca" target="_blank" class=" hover:opacity-80">
                https://www.linkedin.com/company/dimetumarca/</a>
        </p>
      
        <p class="flex items-center inline text-xs col-span-1 col-start-2 col-end-3 inline-block"><SendMailFicon class="ms-0.5" />
          irojas@dimetumarca.com
        </p>    
  </div>
  <div class="text-xs tracking-wider text-end mt-8">
    <p>Developed by <a href="https://www.linkedin.com/in/luciaperezalberca/" target="_blank" class="underline">Lucia Perez Alberca</a> y <a href="https://www.linkedin.com/in/alanmisaelpozzi/" target="_blank" class="underline">Alan Misael Pozzi</a></p>
  </div>
</footer>
