<div class="text-white px-40 py-10 w-[1440px]">
        <h2 class="text-[26px]"> Contáctanos para <span class="text-primary-orange font-semibold"> impulsar </span> tu presencia digital </h2>
        <form action="https://formsubmit.co/1b4ca40d90bd3de5ba072c4f626a673e" method="POST" class="text-primary-blue">
                <input type="text" name="name" placeholder="nombre" required>
                <input type="text" name="email" placeholder="apellido">
                <input type="text" name="email" placeholder="nombre de tu emprendimiento" required>
                <input type="email" name="email" placeholder="e-mail" required>
                <textarea placeholder="Déjanos tu mensaje y cuéntanos un poco más sobre ti" required class="w-[546px] h-[233px] p-5 mt-5"/>
                <input type="hidden" name="_template" value="table">
                <button type="submit" class="flex justify-center items-center uppercase size-18 bg-[#cec0b6] rounded-[24px] font-semibold tracking-widest hover:opacity-90 text-white uppercase px-10 py-3">enviar</button>
        </form>
</div>