---
import LogoNav from "./icons/logoNav.astro";
---

<header class="bg-primary-blue h-32 text-white flex justify-around items-center w-[1440px]">
        <LogoNav />
        <nav class="flex gap-8">
                <a href="/#servicios"> Servicios </a>
                <a href="/#about"> Quiénes Somos </a>
                <a href="/#contacto"> Contacto </a>
        </nav>
</header>