---
import LogoNav from "./icons/logoNav.astro";
---

<header class="bg-primary-blue h-32 text-white flex justify-around items-center sticky top-0 w-[1440px]">
        <a href="/" class="hover:opacity-90"><LogoNav /></a>
        <nav class="flex gap-8">
                <a href="/#servicios" class="hover:text-primary-orange hover:scale-110"> Servicios </a>
                <a href="/#about" class="hover:text-primary-orange hover:scale-110"> Quiénes Somos </a>
                <a href="/#contacto" class="hover:text-primary-orange hover:scale-110"> Contacto </a>
        </nav>
</header>